*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: #FDFDFD;
}
.container{
  width: 70%;
  margin: auto;
}
ul{
  list-style: none;
}
ul li{
  display: inline-block;
}
a{
  color: inherit;
  text-decoration: none;
}
/* inzio header */
header nav{
  padding-left: 20px;
  padding-bottom: 13px;
  color: #5f6368;
  border-bottom: 1px solid #5f6368;
}
/* menu top */
header nav .menu-top ul li a{
  font-size: 22px;
  font-weight: 400;
}
header nav .menu-top ul li a:hover{
  text-decoration: underline;
}
header nav .menu-top ul li a img{
  height: 60px;
  vertical-align: middle;
}
/* fine menu top */
/* menu bottom */
header nav .menu-bottom ul li a{
  font-weight: 500;
  margin-right: 40px;
  padding-bottom: 10px;
}
header nav .menu-bottom ul li:last-child a{
  color: #3367D6;
  border-bottom: 3px solid #3367D6;
}
/* fine menu bottom */
/* fine header */
/* inizio main */
main{
  padding-bottom: 40px;
}
main .container h2{
  color: #3c4043;
  font-size: 24px;
  font-weight: 500;
  padding: 100px 0 30px 0;
}
main .container p{
  font-size: 14px;
  line-height: 1.6;
}
/* fine main */
/* inizio footer */
footer{
  height: 30px;
  background-color: #F5F5F5;
  color: #3c4043;
}
footer .container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .container ul li a{
  font-size: 10px;
  margin-right: 10px;
}
footer .container .lang{
  padding-top: 5px;
}
/* fine footer */
